<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/views/index.css">
	</head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>

<!-- <div class = "banner-text">
    <h1>DREAMWEAVER</h1>

</div> -->
<div class="animation-area">


<% let publishedDreams = []; %>
<% let usedNumbers = [] %>

<% dreams.forEach(dream => { %>
    <% if (dream.published == "on") { %>
        <% publishedDreams.push(dream) %>
<% }}); %>
<% let randomNumber; %>

<% function dreamPick() { %>
    <%= publishedDreams[randomNumber].dream  %></a>
    <% usedNumbers.push(randomNumber)%> 
<% } %>

<% function dreamPicker() { %>
    <% randomNumber = Math.floor(Math.random() * (publishedDreams.length));  %>
    <% !usedNumbers.includes(randomNumber) ? dreamPick() : dreamPicker() } %> 



<div class="container">
    <div class="one dreams-medium"><%= dreamPicker() %></div>
    <div class="two dreams-small"><%= dreamPicker() %></div>
    <div class="three dreams-medium"><%= dreamPicker() %></div>
    <div class="four dreams-small"><%= dreamPicker() %></div>
    <div class="dreamweaver-index-title">
		<h1 style="font-size: 50px;">DREAMWEAVER<div id="subtitle" style="font-size: 20px; color: rgb(211, 209, 209); margin-top: -10px; margin-bottom: 10px">Crowdsource your dreams</div></h1>
    <div class="buttons" style="margin-left: 18%">
        <h3><a href="/about"><button id="about" style="font-size: 15px; height: 35px; width: 110px;">Learn more</button></h3></a>
		<h3><a href="/auth/google"><button id="login" style="font-size:15px; height: 35px; width: 110px;">Login</button></h3></a>
    </div>
	</div>
    <div class="six dreams-medium"><%= dreamPicker() %></div>
    <div class="seven dreams-small"><%= dreamPicker() %></div>
    <div class="eight dreams-medium"><%= dreamPicker() %></div>
    <div class="nine dreams-medium"><%= dreamPicker() %></div>
    <div class="ten dreams-small"><%= dreamPicker() %></div>

</div></body>
</ul>
</html>