<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body>
		
		<script src="" async defer></script>
	</body>
</html>

<link rel="stylesheet" href="styles/views/index.css">

<body>

<% let publishedDreams = []; %>
<% let usedNumbers = [] %>

<% dreams.forEach(dream => { %>
    <% if (dream.published == "on") { %>
        <% publishedDreams.push(dream) %>
<% }}); %>
<% let randomNumber; %>

<% function dreamPick() { %>
    <%= publishedDreams[randomNumber].dream  %></a>
    <% usedNumbers.push(randomNumber)%> 
<% } %>

<% function dreamPicker() { %>
    <% randomNumber = Math.floor(Math.random() * (publishedDreams.length));  %>
    <% !usedNumbers.includes(randomNumber) ? dreamPick() : dreamPicker() } %> 



<div class="container">
    <div class="one dreams-medium"><%= dreamPicker() %></div>
    <div class="two dreams-small"><%= dreamPicker() %></div>
    <div class="three dreams-medium"><%= dreamPicker() %></div>
    <div class="four dreams-small"><%= dreamPicker() %></div>
    <div class="five dreams-large">
		<h1>DreamWeaver<div id="subtitle">Crowdsource your dreams</div></h1>
		<div class="buttons"><h3><a href="/about"><button id="about">Learn more</button></h3></a>
		<h3><a href="/auth/google"><button id="login">Login</button></h3></a></div>
	</div>
    <div class="six dreams-medium"><%= dreamPicker() %></div>
    <div class="seven dreams-small"><%= dreamPicker() %></div>
    <div class="eight dreams-medium"><%= dreamPicker() %></div>
    <div class="nine dreams-medium"><%= dreamPicker() %></div>
    <div class="ten dreams-small"><%= dreamPicker() %></div>
</div>

</body>

<%- include ('./partials/footer') %>