<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreamer/edit.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>

    <div class= "banner-text">
        <h1>DREAMWEAVER</h1>
    
    </div>

<div class="animation-area">
    <div class="nav">
        <div id="logo">
        </div>

            <ul id="nav">
                <% if (user) { %>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                    <li><a href="/how-to">How-To</a></li>
                    <li><a href="/dreams">Dreams</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>

                    <li><a href="/auth/google">Login with Google</a></li>
                <% } %>
            </ul>
    </div>

<%  if(user) { %>
<main>
    <div id="title">
        <h1>Edit Profile</h1>
    </div>
    <div id='input'>
        <form action="/dreamers/<%= dreamer._id %>?_method=PUT" method="POST">
        <h4>Name</h4>
        <input type="text" name="name" <% if (dreamer.name) %> value="<%=dreamer.name%>" placeholder="Name">
        <h4>Email</h4>
        <input type="text" name="email" <%if(dreamer.email) %> value="<%=dreamer.email%>" placeholder="E-mail">
        <h4>Zip Code</h4>
        <input type="text" name="zipCode" <%if(dreamer.zipCode) %> value="<%=dreamer.zipCode%>" placeholder="Zip code for future location services">
        <h4>Bio</h4>
        <textarea type="type" name="profile" <%if(dreamer.profile) %> 
            value="<%=dreamer.profile%>" placeholder="Tell us a little about yourself so others can best help you achieve your dreams."><%= dreamer.profile %></textarea>
            <br>
        <input type="submit" value="Update profile" id="updateBtn"/>
        </form>
    </div>  
<% } else { %>
    <p>You must be logged in to view this page.</p>
<% } %> 

</main>
</body>
</div>
