<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <!-- <link rel="stylesheet" href="/styles/dreamer/edit.css"> -->
        <link rel="stylesheet" href="/styles/dreams/edit.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>

    <div class= "banner-text">
    
    </div>

<div class="animation-area">
    <div class="nav">
        <div id="logo">
        </div>

            <ul id="nav">
                <% if (user) { %>
                    <li><a href="/dreams">Home</a></li>
                    <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                    <li><a href="/how-to">How-To</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>

                    <li><a href="/auth/google">Login with Google</a></li>
                <% } %>
            </ul>
    </div>

<%  if(user) { %>
    <h1>Edit Profile</h1>
<div id="edit-profile">

    <div class="form">
    <div id='input'>
        <form action="/dreamers/<%= dreamer._id %>?_method=PUT" method="POST">
        <h2>Name</h2>
        <input type="text" class="dream" name="name" <% if (dreamer.name) %> value="<%=dreamer.name%>" placeholder="Name">
        <h2>Email</h2>
        <input type="text"  class="dream" name="email" <%if(dreamer.email) %> value="<%=dreamer.email%>" placeholder="E-mail">
        <h2>Zip Code</h2>
        <input type="text"  class="dream" name="zipCode" <%if(dreamer.zipCode) %> value="<%=dreamer.zipCode%>" placeholder="Zip code for future location services">
        <h2>Bio</h2>
        <textarea type="type"  class="dream" id="bio" name="profile" <%if(dreamer.profile) %> 
            value="<%=dreamer.profile%>" placeholder="Tell us a little about yourself so others can best help you achieve your dreams."><%= dreamer.profile %></textarea>
            <br>
        <input type="submit" value="Update profile" class="update"/>
        </form>
    </div>
    </div>  
    <% } else { %>
        <h1 id="logged-in">You must be logged in to view this page.</h1>

        <div id="dreamweaver-index-title">
            <h1>DREAMWEAVER<div id="subtitle" style="font-size: 40px; color: rgb(211, 209, 209); margin-top: -10px; margin-bottom: 10px; width: 1000px; text-shadow:-2px 0 rgb(107, 11, 91), 0 2px rgb(107, 11, 91), 2px 0 rgb(107, 11, 91), 0 -2px rgb(107, 11, 91);">Crowdsource your dreams</div></h1>
        <div class="buttons" style="margin-left: 40%">
            <h3><a href="/auth/google"><button id="login" style="font-size:20px; height: 45px; width: 110px; margin-left: 115%; padding: 10px 0 20px 0">Login</button></h3></a>
    <% } %>

</div>
</div>
</body>

