<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreamer/index.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 




<body>


<!-- 
<div class = "banner-text">
    <h1>DREAMWEAVER</h1>

</div> -->
<div class="animation-area">
    <div class="nav">
        <ul id="nav">
            <% if (user) { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                <li><a href="/how-to">How-To</a></li>
                <li><a href="/dreams">Dreams</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/auth/google">Login with Google</a></li>
            <% } %>
        </ul>
    </div>


<body>



<main>
  <section id='profile'>
    <div id='dream-profile'>
      <% if (user && (dreamer.id === user.id)) { %>
        <div id="account-info">
          <ul>
            <li>
              <p><h3>Name</h3><%= dreamer.name %></p>
            </li>
            <li>
              <p><h3>Email</h3><%= dreamer.email %></p>
            </li>
            <li>
              <p><h3>Zip Code</h3><%= dreamer.zipCode %></p>
            </li>
            <li id='profile-buttons'>
              <a href="/dreamers/<%=dreamer._id%>/edit">Edit Profile</a>
            </li>
          </ul>
          <div id="bio">
            <h3>Bio</h3>
            <p><%= dreamer.profile %></p>
          </div>
        </div>
    </div>
  </section>
  <section id='dreams'>
    <h2>My Dreams</h2>
    <div id='profile-dreams'>
      <% dreamer.activeDreams.forEach((dream, idx )=> { %>
        <div class="dream">
          <div class="dream-status">
            <% if(dream.isCompleted) { %>
            <p>Completed!</p>
            <% } else if (dream.published === "on") { %>
              <p>Published</p>
            <% } else { %>
              <p>Un-Published</p>
            <% }; %> 
          </div>

          <h2><a href="/dreams/<%= dream._id %>" ><%= dream.dream %> </a></h2>
          <h3> Obstacles: </h3><% if (dream.obstacle) {dream.obstacle.forEach( obstacle => { %>
            <ul>
              <li>
                  <%= obstacle %>
              </li>
            </ul>  
          <% }) } %> 
          <p>Number of Comments: <%= dream.Comments.length %></p>
            <a href="/dreams/edit/<%= dream._id %>" class="edit-dream">Edit Dream</a>
        </div>
      <% }) %> 
    </div>
      <a href="/dreams/<%=dreamer._id%>/new" id="create-dream">Add a new Dream</a>
      <br>
      <form action="/dreamers/<%+ dreamer._id %>?_method=DELETE" method="POST" id="delete-account">
      <input type="hidden" name="Dreamer" value="<%=dreamer._id%>"/>
      <input type="submit" value="Delete My Profile" />
      </form>
	<% } else { %>
	<% } %>
    
   
  </section>

</main>
</body>
<%- include ('../partials/footer') %>