<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreamer/index.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>

<div class="animation-area">

  <div class="nav">
      <div id="logo">
      </div>
          <ul id="nav">
              <% if (user) { %>
                  <li><a href="/dreams">Home</a></li>
                  <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                  <li><a href="/how-to">How-To</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/logout">Log Out</a></li>
              <% } else { %>
                  <li><a href="/auth/google">Login with Google</a></li>
              <% } %>
          </ul>
  </div>


<main>
  <section id='profile'>
    <div id='dream-profile'>
      <% if (user && (dreamer.id === user.id)) { %>
        <div id="account-info">
          <ul>
            <li>
              <p><h3>Name</h3><%= dreamer.name %></p>
            </li>
            <li>
              <p><h3>Email</h3><%= dreamer.email %></p>
            </li>
            <li>
              <p><h3>Zip Code</h3><%= dreamer.zipCode %></p>
            </li>
            <li >
              <a id='profile-buttons' href="/dreamers/<%=dreamer._id%>/edit">Edit Profile</a>
            </li>
          </ul>
          <div id="bio">
            <h3>Bio</h3>
            <p><%= dreamer.profile %></p>
          </div>
        </div>
    </div>
  </section>
  <section id='dreams'>
    <div id='profile-dreams'>
      <% dreamer.activeDreams.forEach((dream, idx )=> { %>
        <div class="dream">
          <div class="dream-status">
            <% if(dream.isCompleted) { %>
            <p>Completed!</p>
            <% } else if (dream.published === "on") { %>
              <p>Published Dream</p>
            <% } else { %>
              <p>Un-Published Dream</p>
            <% }; %> 
          </div>

          <h2><a id='profile-buttons' href="/dreams/<%= dream._id %>" ><%= dream.dream %> </a></h2><br>
          <h3> Obstacles: </h3><% if (dream.obstacle) {dream.obstacle.forEach( obstacle => { %>
            <ul class="obstacles">
            <% if(!obstacle.replace(/\s/g, '').length) { %> 
              <% } else { %> 
              <li>
                  <%= obstacle %>
              </li>
            </ul>  
            <% }; %> 
          <% }) } %> 
          <div class='numComments'>
            <p># of Comments: <%= dream.Comments.length %></p>
          </div>
          <br>
          <div class="edit-dream">
            <a id='profile-buttons' href="/dreams/edit/<%= dream._id %>" class="edit-dream">Edit Dream</a>
          </div>
        </div>
      <% }) %> 
    </div>
      <a href="/dreams/<%=dreamer._id%>/new" ><button id="create-dream">Add a new Dream</button></a>
      <br>
      <form action="/dreamers/<%+ dreamer._id %>?_method=DELETE" method="POST" >
      <input type="hidden" name="Dreamer" value="<%=dreamer._id%>"/>
      <input type="submit" id="delete-account" value="Delete My Profile" />
      </form>
	    <% } else { %>
        <h1 id="logged-in">You must be logged in to view this page.</h1>

        <div id="dreamweaver-index-title">
            <h1>DREAMWEAVER<div id="subtitle" style="font-size: 40px; color: rgb(211, 209, 209); margin-top: -10px; margin-bottom: 10px; width: 1000px; text-shadow:-2px 0 rgb(107, 11, 91), 0 2px rgb(107, 11, 91), 2px 0 rgb(107, 11, 91), 0 -2px rgb(107, 11, 91);">Crowdsource your dreams</div></h1>
        <div class="buttons" style="margin-left: 40%">
            <h3><a href="/auth/google"><button id="login" style="font-size:20px; height: 45px; width: 110px; margin-left: 115%; padding: 10px 0 20px 0">Login</button></h3></a>
    <% } %>
    
   
  </section>

</main>
</div>
</body>



