<%- include ('../partials/header') %>

<body>
    <a href="/home">Home</a>
    <h1>Dreamer Profile</h1>
    <h3>Name</h3>
    <p><%= user.name %></p>
    <h3>Email</h3>
    <p><%= user.email %></p>
    <a href="/dreamers/<%=user._id%>/edit">Edit</a>
</body>

<%- include ('../partials/footer') %>