<%- include ('../partials/header') %>

<body>
    <% if(user) { %> 
        <h1>Dreams folder, Index.ejs</h1>

        <% context.dreams.forEach(dream => { %>
            <li>
                <a href="/dreams/<%= dream._id %>"><%= dream.dream %></a>
            </li>
        <% }) %>

<!-- <%// context.dreams.forEach(dream => { %>
    <li>
        <a href="/dreams/<%=// dream._id %>"><%=// dream.dream[randomNumber] %></a>
    </li>
<% //}) %> -->
<% let publishedDreams = []; %>

<% context.dreams.forEach(dream => { %>
    <% if (dream.published == "on") { %>
        <% publishedDreams.push(dream) %>
    <% }}); %>


<% function dreamPicker() { %>
    <% let randomNumber = Math.floor(Math.random() * (publishedDreams.length)); %>
    <li>
        <a href="/dreams/<%= publishedDreams[randomNumber]._id %>">
            <%= publishedDreams[randomNumber].dream %></a>
    </li>
<% }; %>

<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>
<%= dreamPicker() %>



    <% } else { %>
        <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
    <% } %>

</body>


<%- include ('../partials/footer') %>