<%- include ('../partials/header') %>

<link rel="stylesheet" href="styles/dreams/index.css">

</head>
<body>
    <% if(user) { %> 
        

<% let publishedDreams = []; %>
<% let usedNumbers = [] %>

<% dreams.forEach(dream => { %>
    <% if (dream.published == "on") { %>
        <% publishedDreams.push(dream) %>
<% }}); %>
<% let randomNumber; %>

<% function dreamPick() { %>
    <a href="/dreams/<%=publishedDreams[randomNumber]._id  %>">
    <%= publishedDreams[randomNumber].dream  %></a>
    <% usedNumbers.push(randomNumber)%> 
<% } %>

<% function dreamPicker() { %>
    <% randomNumber = Math.floor(Math.random() * (publishedDreams.length));  %>
    <% !usedNumbers.includes(randomNumber) ? dreamPick() : dreamPicker() } %> 



<div class="container">
    <div class="one dreams-medium"><%= dreamPicker() %></div>
    <div class="two dreams-small"><%= dreamPicker() %></div>
    <div class="three dreams-medium"><%= dreamPicker() %></div>
    <div class="four dreams-small"><%= dreamPicker() %></div>
    <div class="five dreams-large"><%= dreamPicker() %></div>
    <div class="six dreams-medium"><%= dreamPicker() %></div>
    <div class="seven dreams-small"><%= dreamPicker() %></div>
    <div class="eight dreams-medium"><%= dreamPicker() %></div>
    <div class="nine dreams-medium"><%= dreamPicker() %></div>
    <div class="ten dreams-small"><%= dreamPicker() %></div>
</div>


    <% } else { %>
        <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
    <% } %>

</body>


<%- include ('../partials/footer') %>