<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/dreams/index.css">
	</head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>

<div class = "banner-text">
    <h1>DREAMWEAVER</h1>

</div>
<div class="animation-area">
    <div class="nav">
        <ul id="nav">
            <% if (user) { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                <li><a href="/how-to">How-To</a></li>
                <li><a href="/dreams">Dreams</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Log Out</a></li>
            <% } else { %>
                <li id="login-with-google"><a href="/auth/google">Login with Google</a></li>
            <% } %>
        </ul>
    </div>


    <% if(user) { %> 
        

<% let publishedDreams = []; %>
<% let usedNumbers = [] %>

<% dreams.forEach(dream => { %>
    <% if (dream.published == "on") { %>
        <% publishedDreams.push(dream) %>
<% }}); %>
<% let randomNumber; %>

<% function dreamPick() { %>
    <a href="/dreams/<%=publishedDreams[randomNumber]._id  %>">
    <%= publishedDreams[randomNumber].dream  %></a>
    <% usedNumbers.push(randomNumber)%> 
<% } %>

<% function dreamPicker() { %>
    <% randomNumber = Math.floor(Math.random() * (publishedDreams.length));  %>
    <% !usedNumbers.includes(randomNumber) ? dreamPick() : dreamPicker() } %> 



<div class="container">
    <div class="one dreams-medium"><%= dreamPicker() %></div>
    <div class="two dreams-small"><%= dreamPicker() %></div>
    <div class="three dreams-medium"><%= dreamPicker() %></div>
    <div class="four dreams-small"><%= dreamPicker() %></div>
    <div class="five dreams-large"><%= dreamPicker() %></div>
    <div class="six dreams-medium"><%= dreamPicker() %></div>
    <div class="seven dreams-small"><%= dreamPicker() %></div>
    <div class="eight dreams-medium"><%= dreamPicker() %></div>
    <div class="nine dreams-medium"><%= dreamPicker() %></div>
    <div class="ten dreams-small"><%= dreamPicker() %></div>
</div>


    <% } else { %>
        <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
    <% } %>

</body>


