<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreams/show.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>
    <div class = "banner-text">
        <h1>DREAMWEAVER</h1>
    
    </div>
<div class="animation-area" style="overflow: scroll">
    <div class="nav">
        <div id="logo">
        </div>
            <ul id="nav">
                <% if (user) { %>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                    <li><a href="/how-to">How-To</a></li>
                    <li><a href="/dreams">Dreams</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="/auth/google">Login with Google</a></li>
                <% } %>
            </ul>
    </div>

    <!-- Real page starts here -->

<% if(user.id === dream.Dreamer.toString()) { %> 
<div class="dream-box">
    <h3 id="title"><%= dream.dream %> </h3>
    <div id="obstacles-comments">
    <div class="obstacles">
        <h3>Obstacles</h3>
        <ol>
                    <% dream.obstacle.forEach( (obst) => { %> 
                        <% if(!obst.replace(/\s/g, '').length) { %>
                            <% } else { %>
                                <li class="obstacle-list"><%= obst %></li>
                            <% } %> 
                        <% }); %> 
            </ol>
        
    </div>
    <div class="comments">
        <h3>Comments</h3>
        <ul>
            
            <% if(comments.length !== 0) {comments.forEach((comment, idx) => { %>
                <li class="one-comment">
                    <p><span class="name"><%= comment['name'] %><br></span><%= comment['comment'] %></p>
                <% if(comment.Dreamer.toString() === user.id) { %>
                    <div class="comment-buttons">
                        <a href="/comments/<%= comment._id %>/edit">Edit</a>
                        <% } %>
                        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" onclick="confirm('Are you sure you want to delete your comment?')" class="delete" value="Delete" />
                        </form>
                    </div>
                
                
                    </li>
                <% })} else {%>
                    <li> Be the first to support this dream.</li>
                <% }%>
            </ul> 
        </div>
        
        <div class="leave-comment">
            <a href="/comments/<%= dream._id %>/new"><button class="leave-comments">Leave a comment</button></a>
        </div>
    
   
    </div>
    </div>

    <div class="buttons">
        <a  href="/dreams/edit/<%= dream._id %>"><button id="edit-dream">Edit Dream</button></a>
        <form action="/dreams/<%= dream._id %>?_method=DELETE" method="POST">
                <input type="hidden" name="Dreamer" value="<%= dream.Dreamer %>" />
                <input type="submit" onclick="confirm('Are you sure you want to delete your dream? This action cannot be undone.')" id="delete-dream" value="Delete Dream" />
        </form>
        

    </div>


<% } else if (user) {%> 
    <div class="dream-box">
        <h3 id="title"><%= dream.dream %> </h3>
        <div id="obstacles-comments">
            <div class="obstacles">
                <h3>Obstacles</h3>
                <ol>
                    <% dream.obstacle.forEach( (obst) => { %> 
                        <% if(!obst.replace(/\s/g, '').length) { %>
                            <% } else { %>
                                <li class="obstacle-list"><%= obst %></li>
                            <% } %> 
                        <% }); %> 
                </ol>
            </div>
            <div class="comments">
                <h3>Comments</h3>
                
                    <ul>
                        <% if(comments.length !== 0) {comments.forEach((comment, idx) => { %>
                            <li class="one-comment">
                            <p><span class="name"><%= comment['name'] %></span><br><%= comment['comment'] %></p>
                            <% if(comment.Dreamer.toString() === user.id) { %>
                                <div class="comment-buttons">
                                    <a href="/comments/<%= comment._id %>/edit"><button class="edit">Edit</button></a>
                                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit"  onclick="confirm('Are you sure you want to delete your comment?')" class="delete" value="Delete" />
                                    </form>
                                </div>
                            </li>
                        <% } %>
                        
                        <% })} else {%>
                            <li> Be the first to support this dream.</li>
                        <% }%>
                </ul>
                
            </div>
            <div class="leave-comment">
                <a href="/comments/<%= dream._id %>/new"><button class="leave-comments">Leave a comment</button></a>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- </body> -->
<% } else { %>
    <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
<% } %> 

</body>
