
<%- include ('../partials/header') %>
<body>

<h3>Dream</h3>
<% if(user.id === dream.Dreamer.toString()) { %> 

    <p><%= dream.dream %> </p>
    <h3>Obstacles</h3>
    <ol>
    <li><%= dream.obstacle[0] %></li>
    <li><%= dream.obstacle[1] %></li>
    <li><%= dream.obstacle[2] %></li>
    </ol>
    <a href="/dreams/edit/<%= dream._id %>">Edit</a>
    <form action="/dreams/<%= dream._id %>?_method=DELETE" method="POST">
    <input type="hidden" name="Dreamer" value="<%= dream.Dreamer %>" />
    <input type="submit" value="Delete" />
    </form>
    <h3>Comments</h3>
    <ul>
        <% if(comments.length !== 0) {comments.forEach((comment, idx) => { %>
            <h3><%= comment['name'] %></h3>
            <p><%= comment['comment'] %></p>
            <% if(comment.Dreamer.toString() === user.id) { %>
            <a href="/comments/<%= comment._id %>/edit">Edit</a>
            <% } %>
            <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
            
        </li>
    <% })} else {%>
        <li>Leave the first comment!</li>
    <% }%>
    </ul>

    <a href="/comments/<%= dream._id %>/new">Leave a comment</a>

<% } else if (user) {%> 
    <p><%= dream.dream %> </p>
    <h3>Obstacles</h3>
    <ol>
        <li><%= dream.obstacle[0] %></li>
        <li><%= dream.obstacle[1] %></li>
        <li><%= dream.obstacle[2] %></li>
    </ol>
    <h3>Comments</h3>
    <ul>
  
    <% if(comments.length !== 0) {comments.forEach((comment, idx) => { %>
            <h3><%= comment['name'] %></h3>
            <p><%= comment['comment'] %></p>
            <% if(comment.Dreamer.toString() === user.id) { %>
            <a href="/comments/<%= comment._id %>/edit">Edit</a>
            <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
            <% } %>
        </li>
    <% })} else {%>
        <li>Leave the first comment!</li>
    <% }%>
    </ul>

    <a href="/comments/<%= dream._id %>/new">Leave a comment</a>

<% } else { %>
    <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
<% } %> 

</body>
<%- include ('../partials/footer') %>