<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreams/show.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body>
    <div class="animation-area" style="overflow: scroll; padding-bottom: 20px;">
    <div class = "banner-text"> 
        
    <div class="nav">
        <div id="logo">
        </div>
            <ul id="nav">
                <% if (user) { %>
                    <li><a href="/dreams">Home</a></li>
                    <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="/auth/google">Login with Google</a></li>
                <% } %>
            </ul>
    </div>


    <!-- Real page starts here -->

<% if(user.id === dream.Dreamer.toString()) { %> 
<div class="dream-box">
    <h2><%= dreamer.name.split(' ')[0] %>'s dream: </h2>
    <h3 id="title"><%= dream.dream %> </h3>
    <div id="obstacles-comments">
    <div class="obstacles">
        <h3>Obstacles</h3>
        <ol>
                    <% dream.obstacle.forEach( (obst) => { %> 
                        <% if(!obst.replace(/\s/g, '').length) { %>
                            <% } else { %>
                                <li class="obstacle-list"><%= obst %></li>
                            <% } %> 
                        <% }); %> 
            </ol>
        
    </div>
    <div class="comments">
        <h3>Comments</h3>
        <ul>
            
            <% if(comments.length !== 0) {comments.forEach((comment, idx) => { %>
                <li class="one-comment">
                    <p><span class="name"><%= comment['name'] %><br></span><%= comment['comment'] %></p>
                <% if(comment.Dreamer.toString() === user.id) { %>
                    <div class="comment-buttons">
                        <a class="edit"href="/comments/<%= comment._id %>/edit">Edit</a>
                        <% } %>
                        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit"  class="delete" value="Delete" />
                        </form>
                    </div>
                    <script>
                        $('.delete').click(function(e){
                            let confirm = window.confirm('Are you sure you want to delete this comment?');
                            if(confirm){} else {e.preventDefault()}
                        })
                    </script>
                
                    </li>
                <% })} else {%>
                    <li> Be the first to support this dream.</li>
                <% }%>
            </ul> 
        </div>
        
        <div class="leave-comment">
            <a href="/comments/<%= dream._id %>/new"><button class="leave-comments">Leave a comment</button></a>
        </div>
   
    </div>
    </div>

    <div class="buttons">
        <a  href="/dreams/edit/<%= dream._id %>"><button id="edit-dream">Edit Dream</button></a>
        <form action="/dreams/<%= dream._id %>?_method=DELETE" method="POST">
                <input type="hidden" name="Dreamer" value="<%= dream.Dreamer %>" />
                <input type="submit" id="delete-dream" value="Delete Dream" />
        </form>
        <script>
            $('#delete-dream').click(function(e){
                let confirm = window.confirm('Are you sure you want to delete this dream?');
                if(confirm){} else {e.preventDefault()}
            })
        </script>

    </div>


<% } else if (user) {%> 
    <div class="dream-box">
        <h2><%= dreamer.name.split(' ')[0] %>'s dream: </h2>
        <h3 id="title"><%= dream.dream %> </h3>
        <div id="obstacles-comments">
            <div class="obstacles">
                <h3>Obstacles</h3>
                <ol>
                    <% dream.obstacle.forEach( (obst) => { %> 
                        <% if(!obst.replace(/\s/g, '').length) { %>
                            <% } else { %>
                                <li class="obstacle-list"><%= obst %></li>
                            <% } %> 
                        <% }); %> 
                </ol>
            </div>
            <div class="comments">
                <h3>Comments</h3>
                
                    <ul>
                        <% if(comments.length !== 0) {comments.forEach((comment, idx) => { %>
                            <li class="one-comment">
                            <p><span class="name"><%= comment['name'] %></span><br><%= comment['comment'] %></p>
                            <% if(comment.Dreamer.toString() === user.id) { %>
                                <div class="comment-buttons">
                                    <a class="edit" href="/comments/<%= comment._id %>/edit">Edit</a>
                                    
                                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit"  class="delete" value="Delete" />
                                    </form>
                                    <script>
                                        $('.delete').click(function(e){
                                            let confirm = window.confirm('Are you sure you want to delete this comment?');
                                            if(confirm){} else {e.preventDefault()}
                                        })
                                    </script>
                                </div>
                            </li>
                        <% } %>
                        
                        <% })} else {%>
                            <li> Be the first to support this dream.</li>
                        <% }%>
                </ul>
                
            </div>
            <div class="leave-comment">
                <a href="/comments/<%= dream._id %>/new"><button class="leave-comments">Leave a comment</button></a>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- </body> -->
<% } else { %>
    <h1 id="logged-in">You must be logged in to view this page.</h1>

    <div id="dreamweaver-index-title">
        <h1>DREAMWEAVER<div id="subtitle" style="font-size: 40px; color: rgb(211, 209, 209); margin-top: -10px; margin-bottom: 10px; width: 1000px; text-shadow:-2px 0 rgb(107, 11, 91), 0 2px rgb(107, 11, 91), 2px 0 rgb(107, 11, 91), 0 -2px rgb(107, 11, 91);">Crowdsource your dreams</div></h1>
    <div class="buttons" style="margin-left: 40%">
        <h3><a href="/auth/google"><button id="login" style="font-size:20px; height: 45px; width: 110px; margin-left: 115%; padding: 10px 0 20px 0">Login</button></h3></a>
<% } %>

</body>
